<form class="c-form" 
{% if cliente %}
    action="{{ url_for('cliente.editar_cliente', cliente_id = cliente.id) }}" method="PUT"
{% else %}
    action="{{ url_for('cliente.inserir_cliente') }}" 
    method="POST"
{% endif %}

c-append="#lista_cliente"
>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome"
        {% if cliente %} value="{{ cliente.Nome }}"{% endif %}> 
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email"
        {% if cliente %} value="{{ cliente.Email }}" {% endif %}>
    </div>
    <button type="submit" class="btn btn-primary">
        {% if cliente %} Atualizar Cliente {% else %} Adicionar Cliente {% endif %}
    </button>
</form>